@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    background-image: linear-gradient(to top right, theme(colors.light-violet), theme(colors.light-blue));
    font-weight: theme(fontWeight.bold);
    color: theme(colors.white);
  }

  .secondary {
    background-color: theme(colors.slate.50);
    border: theme(borderWidth.DEFAULT);
    border-color: theme(colors.sky.400);
    color: theme(colors.sky.500);
  }
}
