/* Importing Inter and Work Sans font family from google fonts. */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@600;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    background-image: linear-gradient(to top right, theme(colors.light-violet), theme(colors.light-blue));
    font-size: theme(fontSize.sm);
    font-weight: theme(fontWeight.bold);
    color: theme(colors.white);
    padding-left: theme(padding.6);
    padding-right: theme(padding.6);
    padding-top: theme(padding.2);
    padding-bottom: theme(padding.2);
    border-radius: theme(borderRadius.full);
  }
}
